.tabs {
  display: inline-block;
}
.tabs ul,
.tabs li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs li {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid #999;
  cursor: default;
}

.tabs li.selected {
  background-color: #777;
  color: #fff;
  border-color: #777;
}
